<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="CodeMirror-Eclipse RAP" sequenceNumber="10">
<locations>
<location path="${project_loc}/launch\rap" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.2.0.20130815-1035"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.2.0.20130821-1618"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="2.2.0.20130816-1534"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.2.0.20130821-1618"/>
<repository location="http://download.eclipse.org/rt/rap/2.2"/>
</location>
</locations>
</target>
