<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%cypherEditor.name"
            extensions="cypher"
            icon="icons/obj16/neo4j.png"
            class="codemirror.eclipse.ui.cypher.editors.CypherEditor"
            id="codemirror.eclipse.ui.cypher.editors.CypherEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="codemirror.eclipse.ui.cypher.preferences.CypherEditorPreferenceInitializer">
         </initializer>
   </extension>


   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="codemirror.eclipse.ui.cypher.preferences.CypherEditorPreferencePage"
            id="codemirror.eclipse.ui.cypher.preferences.CypherEditorPreferencePage"
            category="codemirror.eclipse.ui.preferences.CodeMirrorPreferencePage"
            name="%CypherEditorPreferencePage.name">
      </page>
      <page
            class="codemirror.eclipse.ui.cypher.preferences.CypherThemePreferencePage"
            id="codemirror.eclipse.ui.cypher.preferences.CypherThemePreferencePage"
            category="codemirror.eclipse.ui.cypher.preferences.CypherEditorPreferencePage"
            name="%CypherThemePreferencePage.name">
      </page>
   <!--
      <page
            class="codemirror.eclipse.ui.css.preferences.CSSFoldingPreferencePage"
            id="codemirror.eclipse.ui.css.preferences.CSSFoldingPreferencePage"
            category="codemirror.eclipse.ui.css.preferences.CSSEditorPreferencePage"
            name="%CSSFoldingPreferencePage.name">
      </page>
      -->
   </extension>

</plugin>
