<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%velocityEditor.name"
            extensions="vm"
            icon="icons/obj16/velocity.png"            
            class="codemirror.eclipse.ui.velocity.editors.VelocityEditor"
            id="codemirror.eclipse.ui.velocity.editors.VelocityEditor">
      </editor>
   </extension>
   
</plugin>
