<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%javascriptEditor.name"
            extensions="js"
            icon="icons/obj16/javascript.png"            
            class="codemirror.eclipse.ui.javascript.editors.JavascriptEditor"
            id="codemirror.eclipse.ui.javascript.editors.JavascriptEditor">
      </editor>
   </extension>
   
</plugin>
