<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CodeMirror-Eclipse RAP" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.1.0.20130318-2137"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="2.1.0.20130318-2137"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.1.0.20130318-2137"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.1.0.20130318-2137"/>
<repository location="http://download.eclipse.org/rt/rap/2.1"/>
</location>
</locations>
</target>
