<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%jsonEditor.name"
            extensions="json"
            icon="icons/obj16/json.png"            
            class="codemirror.eclipse.ui.json.editors.JsonEditor"
            id="codemirror.eclipse.ui.json.editors.JsonEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="codemirror.eclipse.ui.json.preferences.JsonEditorPreferenceInitializer">
         </initializer>
   </extension>
      
   <extension
         point="org.eclipse.ui.preferencePages">      
      <page
            class="codemirror.eclipse.ui.json.preferences.JsonEditorPreferencePage"
            id="codemirror.eclipse.ui.json.preferences.JsonEditorPreferencePage"
            category="codemirror.eclipse.ui.preferences.CodeMirrorPreferencePage"
            name="%JsonEditorPreferencePage.name">
      </page>                
      <page
            class="codemirror.eclipse.ui.json.preferences.JsonThemePreferencePage"
            id="codemirror.eclipse.ui.json.preferences.JsonThemePreferencePage"
            category="codemirror.eclipse.ui.json.preferences.JsonEditorPreferencePage"
            name="%JsonThemePreferencePage.name">
      </page>
      <page
            class="codemirror.eclipse.ui.json.preferences.JsonFoldingPreferencePage"
            id="codemirror.eclipse.ui.json.preferences.JsonFoldingPreferencePage"
            category="codemirror.eclipse.ui.json.preferences.JsonEditorPreferencePage"
            name="%JsonFoldingPreferencePage.name">
      </page>
   </extension>
      
</plugin>
